.title{
  text-align: center;
}

.container{
  display: flex;
  width: 100%;
  border: 2px solid;
  text-align: justify;
  margin-bottom: 10px;
}

.cuadro{
  height: 200px;
  width: 200px;
  background-image: url(../img/lighthouse-6785763_1280.jpg);
  margin: 10px;
  border: 1px solid;
}

.subtitle {
  width: 100%;
}

.button{
  float: right;
  border: none;
  padding: 5px;
  margin: 10px;
  font-size: 18px;
  color: #ffffff;
  background: dodgerblue;
  }
  
  @media (min-width: 1000px) {
    .button:hover {
      background: blue;
      transition: 0.7s ease all;
    }
  }

.container1{
  margin-top: 3%;
  display: flex;
  width: 100%;
  border: 2px solid;
  text-align: justify;
  margin-bottom: 10px;
}

.cuadro1{
  height: 200px;
  width: 200px;
  background-image: url(../img/lighthouse-6785763_1280.jpg);
  margin: 10px;
  border: 1px solid;
}

.subtitle1{
  width: 100%;
}

.button1{
  float: left;
  border: none;
  padding: 5px;
  margin: 10px;
  font-size: 18px;
  color: #ffffff;
  background: dodgerblue;
  }
  
  @media (min-width: 1000px) {
    .button1:hover {
      background: blue;
      transition: 0.7s ease all;
    }
  }

.parrafo {
  float: left;
  width: 100%;
  text-align: justify;
  margin-bottom: 10px;
}